@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* magnifying */
.containermagnifying {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.containermagnifying:hover .magnifying-glass {
  opacity: 1;
}

.magnifying-glass {
  z-index: 10;
  position: absolute;
  background-repeat: no-repeat;
  background-color: white;
  border-style: solid;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.main-container {
  @apply w-full mx-auto px-4 lg:px-2;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1170px !important;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px !important;
  }
}
/* scroll to top */
@font-face {
  font-family: "font-awesome";
  src: url("../assets/fonts/fa/fa-solid-900.ttf") format("truetype"),
    url("../assets/fonts/fa/fa-solid-900.woff2") format("woff2");
}
